[Desktop Entry]
Type=Link
Name=Diversity Navigator
Icon=e-module-diversity_nav
X-Enlightenment-ModuleType=system
Comment=<hilight>Diversity</hilight><br>Navigation module.
